<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} &larr; {{ page.top }}</title>
   <meta name="author" content="{{ site.author.name }}" />

   <link rel="start" href="{{ HOME_PATH }}" />

	{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}">
	{% endif %}
	
	{% if site.author.feedburner %}
  	<link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/{{ site.author.feedburner }}" title="RSS feed" />
	{% endif %}
	{% if page.feed %}
  	<link rel="alternate" type="application/atom+xml" href="{{ page.feed }}" title="RSS feed" />
	{% endif %}

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/screen.css" type="text/css" />

   <script type="text/javascript"
	   src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body id="{{ page.section }}">
<div id="site">
  
  <div id="header">
    <h1>
    	<a href="{{ HOME_PATH }}" title="{{ site.title }}">{{ page.title }}</a>
    	<span class="byline">&larr; <a href="{{ HOME_PATH }}">{{ site.author.name }}</a></span>
    </h1>
    <ul class="nav">
      <li><a  href="/teaching.html">Enseignement</a></li>
      <li><a  href="/research.html">Research</a></li>
      <li><a  href="/dynare.html">Dynare</a></li>
    </ul>
  </div>

  {{ content }}
  
  <div id="footer">
  	<address>
  		<span class="copyright">
  			&copy; 2013 <a href="/info/site.html">{{ site.author.name }}</a>
  			<br/>
			  <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/deed.fr">
			  <img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
			  </a>
			  <a rel="sources" href="https://git.ithaca.fr/www">
			  <img alt="Sources at bitbucket.org" style="border-width:0" src="./images/bitbucket.jpg" width="4.5%" height="4.5%"/>
			  </a>
  		</span>
  		<span class="engine">
  			Powered by <a href="https://github.com/mojombo/jekyll/" title="A static, minimalist CMS">Jekyll</a>
  		</span>
  	</address>
  </div>
  
</div>

  {% include JB/analytics %}
</body>
</html>
